{% extends 'parent.html' %}
{% load static %}

{% block content %}
    <style>
        #cv {
            transition:transform 0.20s ease;
        }

        #cv:hover {
            -webkit-transform:scale(100); 
            transform:scale(2.85);
            overflow-y: visible;
            margin: auto;
            transform-style: preserve-3d;
            
        }

        *, *::after, *::before {
        box-sizing: inherit;
        }

        *, *:before, *:after {
        box-sizing: border-box;
        outline: none;
        }      

        figure {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: auto;
        align-content: center;
        align-items: center;

        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
        }
        figure:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
        figure:hover img {
        transform: scale(1.25);
        }
        figure:hover figcaption {
        bottom: 0;
        }
        figure h1 {
        position: absolute;
        top: 50px;
        left: 20px;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 60px;
        font-weight: 100;
        line-height: 1;
        }
        figure img {
        height: 400px;
        width: auto;

        transition: 0.25s;
        }
        figure figcaption {
        position: absolute;
        bottom: -33%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        color: white;
        line-height: 1;
        transition: 0.25s;
        }
        figure figcaption h3 {
        margin: 0 0 20px;
        padding: 0;
        }
        figure figcaption p {
        font-size: 14px;
        line-height: 1.75;
        }
        #app{
            border-bottom: 2px solid aqua;
            color: whitesmoke;
            letter-spacing: 3px;
        }  
        
    </style>
  <div class="container">
    <center>
        <h3><b id="app">- Applications -</b></h3> <hr>

        {% if a_seeker %}

            {% if apps.count < 1 %}
                <h3 style="color: white; font-weight: 300; letter-spacing: 3px;">( No Applications yet !! )</h3> <br>
            {% else %}  

                <div class="container" id="">       
                    <div class="row">               
                        {% for app in apps %} 
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                                <figure class="image-block">
                                    <h1>Resume</h1>
                                    {% if app.cv_applied.cv %}
                                        <img src="{{ app.cv_applied.cv.url }}" alt=" Loading...." />
                                    {% else %}
                                        <img src="https://thumbs.dreamstime.com/b/blank-black-page-7845405.jpg" alt=" Loading...." />
                                    {% endif %}
                                    <figcaption>
                                        <a href="{% url 'demoapp:company_detail' app.company.id %}"> <h3>{{ app.company }}</h3> </a> 

                                        {% if app.cv_applied.cv %}
                                            <a class="badge badge-pill badge-primary" href="{{ app.cv_applied.cv.url }}">view</a> <br>
                                        {% endif %}
                                        
                                        <p>                                
                                            <i class="fas fa-id-badge"></i> post id : {{ app.post.id }} <br>
                                            <i class="fas fa-briefcase"></i> {{ app.post }} <br>                                            
                                            <i class="fas fa-clock"></i> {{ app.apply_date }} <br>                                
                                        </p>  

                                        {% if app.status  %}                        
                                            <td class="text-center"><span class="badge badge-success badge">Accepted</span></td>
                                        {% else %}
                                            <td class="text-center"><span class="badge badge-secondary badge">Pending..</span></td>
                                        {% endif %}

                                        <a class="btn btn-outline-danger btn-sm" href="{% url 'demoapp:application_delete' app.id %}">cancel</a>
                                    </figcaption>   
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                      
            {% endif %}
            <a class="btn btn-outline-info" href="{% url 'demoapp:base' %}">Apply Now</a>  <br> <br> <br>

        {% elif a_company %}
        
            {% if apps.count < 1 %}
                <h3 style="color: whitesmoke; font-weight: 100;"> No Applications yet !!</h3>
            {% else %}
                            
                <div class="container" id="">       
                    <div class="row">
                        {% for app in apps %}
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                                <figure class="image-block">
                                    <h1>Resume</h1>
                                    {% if app.cv_applied.cv %}
                                        <img src="{{ app.cv_applied.cv.url }}" alt=" Loading...." />
                                    {% else %}
                                        <img src="https://thumbs.dreamstime.com/b/blank-black-page-7845405.jpg" alt=" Loading...." />
                                    {% endif %}

                                    <figcaption>
                                        <h3><a href="{% url 'demoapp:seeker_detail' app.seeker.id %}">{{ app.seeker.name }}</a> </h3>

                                        {% if app.cv_applied.cv %}
                                            <a class="badge badge-pill badge-primary" href="{{ app.cv_applied.cv.url }}">view</a> <br>
                                        {% endif %}

                                        <p>     
                                            <i class="fas fa-id-badge"></i> post id : <i style="color:rgb(236, 35, 112)">{{ app.post.id }}</i> <br>                           
                                            <i class="fas fa-briefcase"></i> {{ app.post }} <br>
                                            <i class="fas fa-clock"></i> {{ app.apply_date }} <br>     
                                        </p>

                                        {% if app.status  %}                                               
                                            <a class="btn btn-danger btn-sm" href="{% url 'demoapp:cancel_application' app.id %}">cancel application</a>
                                        {% else %}
                                            <a class="btn btn-success btn-sm" href="{% url 'demoapp:accept_application' app.id %}">Accept application</a>
                                        {% endif %}   

                                    </figcaption>   
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}
        {% endif %}
    </center>
  </div>
                          

    {% if a_seeker %}
        <center>
            <footer style="color: white;">
                <p>
                    <b style="color: gainsboro;">note :</b> <i>Resume</i> adds a positve impact to your application . <br>
                    So, every time apply with a <i><b>Resume</b></i> .
                </p>
            </footer>
        </center>
    {% endif %}
{% endblock %}