{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

    {% block content %}
        <div class="container">
            {% if registered %}
                <div class="jumbotron">
                    <h2><strong>SuccessFully Registered......!!</strong></h2>
                    <h3>$ Thank You $</h3> <br>
                    <center>
                    <h4><i>Please, Login to Explore the Site **</i></h4>
                    </center>
                </div>
            {% else %}
                    <h3><strong>Register Here !!</strong></h3> <hr>
                    <h6><i>Already Registered ? </i><a href="{% url 'demoapp:login' %}">login</a></h6> 
                    <div class="card-header shadow">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ profile_form|crispy }}
                            {{ user_form|crispy }} 
                            <input class="btn btn-success" type="submit" value="Register">
                        </form>
                    </div>
            {% endif %}
        </div>
    {% endblock %}
