{% extends 'base.html' %}
{% load static %}

{% block content %}
    <center>
        <div class="card shadow" style="max-width: 600px;">  
            <style>
                .card {
                    background-image: linear-gradient(to left, rgba(161, 216, 110, 0), rgb(228, 25, 25));
                }
                .btn-danger {
                    background-image: linear-gradient(to left, rgba(241, 227, 227, 0), rgb(240, 121, 121));
                }
            </style>                       
            <div class="row no-gutters">                                             
                <div class="col-sm-4">         
                    {% if company.logo %}
                        <div class="shadow h-100 w-100">
                            <img class = "rounded-circle m-0 border-right-0 card-img-top" src="{{ company.logo.url }}" height="200" width="240"><br>
                        </div>
                    {% else %}
                        <img src="https://img.favpng.com/22/7/5/work-life-balance-project-brand-logo-png-favpng-y7QaFcq9APCtFqXBHez05pQS8.jpg" class="rounded-circle img m-2 p-2" height="200"  width="240">
                    {% endif %}                   
                </div>

                <div class="col-sm-7">
                    <div class="card-body"> 
                        <h5 class="card-title"><b>{{company.cname}}</b></h5> <hr>     
                        <b>Type : </b><span class="card-body">{{company.ctype}}</span> <br>
                        <b>CEO : </b><span class="card-body">{{company.ceo}}</span> <br>
                        <b>Location : </b><span class="card-body">{{company.clocation}}</span> <br>
                        <b>Established : </b><span class="card-body">{{company.estd}}</span> <br>
                        <b>email : </b><span class="card-body">{{company.user.email}}</span> <br>
                        <b>Verified : </b>
                        {% if company.is_verified %}<span class="card-body"><i>Yes</i></span>
                        {% else %}<span class="card-body"><i>Not Yet</i></span>
                        {% endif %} <br>                    
                        {% if not detail %}
                        <b>phone : </b><span class="card-body">{{company.phone}}</span> <br>
                            <div class="m-2 p-0">
                                <a class="btn btn-danger" href="{% url 'demoapp:profile_update' %}">update</a>
                                <a class="btn btn-outline-danger" href="{% url 'demoapp:profile_delete' %}">remove account</a>
                            </div>
                        {% else %}
                            <center>
                                <a class="btn btn-sm btn-success" href="{% url 'demoapp:post_detail' company.id %}">view Posts</a>
                            </center>
                        {% endif %}
                                            
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}