{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .badge-info {
            background-image: linear-gradient(to left, rgba(161, 216, 110, 0), rgb(65, 236, 208));
        }
        .badge {
            height: 20px;
        }
    </style>

    <h2><b><u>Search  Results </u>  : </b></h2>
        {% if result_count == 1 %}
            <h6>({{ result_count }} <i>matching result found .</i>)</h6> <br>  
        {% else %}
            <h6>({{ result_count }} <i>matching results found .</i>)</h6> <br>   
        {% endif %}

    {% for data in result %}
        <ul>
            <li><a class="badge badge-pill badge-info" href="{% url 'demoapp:company_detail' data.id %}">{{ data }}</a></li>           
        </ul>
    {% endfor %}
    
{% endblock %}
