{% extends 'parent.html' %}
{% load static %}

{% block content %}
    <style>
        .badge-info {
            background-image: linear-gradient(to left,  rgba(224, 16, 190, 0.795), rgba(11, 105, 245, 0.425));             
        }             
        .badge { 
            width: max-content;  
            font-weight: lighter;  
            letter-spacing: 1px;          
        }   
        .jumbotron{
            background: linear-gradient(to left, rgba(25, 44, 7, 0), rgba(53, 226, 197, 0.966), rgba(25, 44, 7, 0));            
        }
        .search-title{
           
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-bottom: 1.2px solid black;
        }      
        #result-css{
            padding: 6.2px;
        }
        

    </style>

    <center>
        <div class="container jumbotron">
            <div class="search-title">
                <h2><b>  Search  Results  </b></h2>
            </div>
                {% if result_count == 1 %}
                    <h6>({{ result_count }} <i>  matching result found .</i>)</h6> <br>  
                {% else %}
                    <h6>({{ result_count }} <i>  matching results found .</i>)</h6> <br>                       
                {% endif %}

            {% for data in result %}             
                <div id="result-css">
                    {% if data.company.id %}
                        <a class="badge badge-pill badge-info" href="{% url 'demoapp:company_detail' data.company.id %}">{{ data }}</a> <br>
                    {% else %}
                        <a class="badge badge-pill badge-info" href="{% url 'demoapp:company_detail' data.id %}">{{ data }}</a> <br>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>    
    </center>
    
{% endblock %}
