{% extends 'base.html' %}
{% load static %}

{% block content %}
    <center>    
        <div class="card shadow" style="max-width: 600px;">  
            <style>
                .card {
                    background-image: linear-gradient(to left, rgba(161, 216, 110, 0), rgb(77, 212, 95));
                }
                .btn-success {
                    background-image: linear-gradient(to left, rgba(161, 216, 110, 0), rgb(31, 231, 57));
                }
            </style>                        
            <div class="row no-gutters">                                             
                <div class="col-sm-4">         
                    {% if seeker.photo %}                   
                    <div class="shadow h-100 w-100">
                        <img class = "rounded-circle m-0 border-right-0 card-img-top" src="{{ seeker.photo.url }}" alt="upload" height="200" width="240"><br>
                    </div>
                    {% else %}
                        <img src="https://unoreads.com/user_profile_pic/demo-user.png" class="img m-2 p-2" height="200"  width="240">
                    {% endif %}                    
                </div>

                <div class="col-sm-7">
                    <div class="card-body"> 
                        <h5 class="card-title">{{seeker.name}}</h5> <hr>
                        <b>sex :</b><span class="card-body">{{seeker.sex}}</span> <br>
                        <b>age :</b><span class="card-body">{{seeker.age}}</span> <br>
                        <b>nationality :</b><span class="card-body">{{seeker.nationality}}</span> <br>
                        <b>qualification :</b><span class="card-body">{{seeker.qualification}}</span> <br>
                        <b>experience :</b><span class="card-body">{{seeker.experience}}</span> <br>
                        <b>address :</b><span class="card-body">{{seeker.address}}</span> <br>
                        {% if not detail %}
                            <b>issued_id :</b><span class="card-body">{{seeker.issued_id}}</span> <br>
                        {% endif %}
                        <b>phone :</b><span class="card-body">{{seeker.phone}}</span> <br>
                        <b>email :</b><span class="card-body">{{seeker.user.email}}</span> <br>
                        <b>Verified :</b>
                        {% if seeker.is_verified %}<span class="card-body"><i>Yes</i></span>
                        {% else %}<span class="card-body"><i>Not Yet</i></span>
                        {% endif %}

                        {% if not detail %}
                            <div class="m-2 p-0">
                              <a class="btn btn-success" href="{% url 'demoapp:profile_update' %}">update</a>
                              <a class="btn btn-outline-danger" href="{% url 'demoapp:profile_delete' %}">remove account</a>
                            </div>
                        {% endif %}                    
                    </div>
                </div>
            </div>
        </div>
    </center> 
{% endblock %}